main {
    width: 100%;
}

textarea {
    width: calc(100% - 9px);
    min-height: 600px;
    resize: vertical;
}

button {
    padding: 5px 20px;
}

@media only screen and (min-width: 1200px) {
    main {
        width: 800px;
        margin: 0 auto;
    }
}